<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Price</title>
</head>
<body>
<h1>Order Details</h1>


<table data-th-object="${order}" style="margin-botton: 3vh;">
    <tr>
        <td>Order id:</td>
        <td>
            <span data-th-text="*{id}"></span>
        </td>
    </tr>
    <tr>
        <td>Date:</td>
        <td>
            <span data-th-text="*{orderDate}"></span>
        </td>
    </tr>
    <tr>
        <td>Customer ID:</td>
        <td>
            <span data-th-text="*{customerId}"></span>
        </td>
    </tr>
    <tr>
        <td>Total Price:</td>
        <td>
            <span data-th-text="*{totalPrice}"></span>
        </td>
    </tr>
    <tr>
        <td>Cost Price:</td>
        <td>
            <span data-th-text="*{costPrice}"></span>
        </td>
    </tr>
    <tr>
        <td>Total Discount:</td>
        <td>
            <span data-th-text="*{discount}"></span>
        </td>
    </tr>
</table>

<!-- back button -->
<a href="/order/total">Back</a>


</body>
</html>
